<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BR FoodS</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="fundo">
    <header class="topo">
        <a href="">CADASTRE-SE</a>
        <h4>ou </h4>        
        <button > <a href="">LOGIN</a>  </button>
    </header>

    <main>

        <section  class="section1">
            <div>
                <img class="logo" src="/img/Home/logo.jpg" title="">
                
            </div>

        </section>
            

        <section class="section2">
            <div class="pesquisa">
                <label >
                    PESQUISAR
                   
                    <input type="text"
                    placeholder="digite o que deseja">
                    <img id="lupa" src="/img/Home/lupac.png">
                </label>

            </div>

            <div >
                <img class="imagem" src="/img/Home/brasil.jpg" alt="">

            </div>
         </section>
    </main>

    <footer>
        <section class="empresas">
            <div>
                <h1>Empresas parceiras:</h1>
            </div>

            <div class="marca">
                <a href="https://www.assai.com.br/"> <img src="/img/Home/Marcas/assai.jpg" title="Assaí Atacadista"></a>
                <a href="https://www.burgerking.com.br/"><img src="/img/Home/Marcas/burguerKing.jpg" title="Burguer King"></a>
                <a href="https://pizzahut.com.br/"><img src="/img/Home/Marcas/pizzaHut.jpg" title="Pizza Hut"></a>
                <a href=""><img src="/img/Home/Marcas/gelato.jpg" title="Sorveteria"></a>
            </div>

        </section>

        <section class="dados">
            <a href="">SOBRE</a>
            <a href="">AJUDA</a>
            <a href="">PERGUNTAS FREQUENTES</a>
            
        </section>
    </footer>
   

    
</body>
</html>